@import 'Table';
@import 'ProfilePage';
@import 'ListPage';
@import 'Button';

@font-face {
  font-family: "MTG";
  src:  local("mtg.woff"), 
        url("mtg.woff") format("woff");
}

.greeting-text{
  color:whitesmoke;
  font-family: "MTG";
  font-size: 18px;
  font-weight: 500;
  padding: 10pt 10pt 10pt 10pt;
  .greeting-text:hover{
    color: rgb(150, 150, 150);
    text-decoration: none;
    cursor: pointer;
  }
}

.center{
  padding-top: 25%; 
  text-align: center;
}

.background-image{
  min-height: 100vh;
  min-width: 100vw;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header{
  z-index: 10;
  background-color: #333333;
  color:whitesmoke;
  width: 100vw;
  height: 60px;
  position: absolute;
  padding: 5px 5px 5px 5px;
}

.left {
  float:left;
  padding-left: 10px;
}

.right{
  float:right;
  padding-right: 10px;
}

.underline{
  text-decoration: underline;
}

.text-center{
  text-align: center;
}

.inline-padding {
  display: inline;
  padding-right: 25px;
  font-weight: bold;
}

.below-header {
  margin-top: 65px;
}

.logo {
  max-width: 20vw;
  max-height: 50px;
  bottom: 3px;
  position: absolute;
}

.footer{
  display: block;
  position: fixed;
  background-color: #333333;
  color:whitesmoke;
  width: 100vw;
  text-align: center;
  height: 4vh;
  bottom: 0px;
}

.whitesmoke{
  color: whitesmoke;
  font-family: "MTG";
  font-size: 32px;
}

.space-top {
  padding-top: 5px;
}

.center-box{
  position: absolute;
  background: rgba(250, 250, 250, .4);
  width: fit-content;
  top: 45%;
  left: 33%;
  border: 3pt solid white;
  border-radius: 5pt;
}

.huge{
  font-size: 72px;
  color: white;
}
