#header{
  background-color: darkslategray;
  color:beige;
  width: 100vw;
  height: 6vh;
  text-align: center;
  position: fixed;
}

h1 {
 font-size: 16pt; 
 text-decoration: none;
}

#footer{
  position: fixed;
  background-color: darkslategray;
  color:beige;
  width: 100vw;
  text-align: center;
  height: 4vh;
  bottom: 0px;
}

#master-div{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}



.App {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.file-handler{
  margin-left: 45%;
  margin-right: auto;
  display: block;
  padding-top: 20vh;
}

#table-main{
  border: 20pt solid white;
  border-radius: 3pt;
  box-shadow: 10px 10px 15px black;
  max-height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
}

#table-header{
  color: white;
  background-color: rgb(61, 61, 61);
  display: table-header-group;
  border-bottom: 3pt rgb(255, 255, 255) solid;
}

.table-row{
  color: white;
  display: table-row-group;
  background-color: darkgray;
  border-bottom: 1pt white solid;
}

#card-number{
  width: 8vw;
}

#card-name{
  width: 30vw;
}

#card-data{
  width: 10vw;
}

#preview{
  display:block;
  max-width: 20vw;
  height: auto;
  position: fixed;
  border-radius: 11pt;
  box-shadow: 10px 10px 15px black;
}

#preview:hover{
  transform:scale(1.2, 1.2)
}

#comparison-card {
  overflow:hidden;
  margin: 0 auto 0 auto;
  max-height: 34vh;
  height: auto;
  width: auto;
  border-radius: 8pt;
  box-shadow: 10px 10px 15px black;
}

#comparison-card:hover {
  transform:scale(1.1, 1.1);
}

#comparison-card-container {
  margin: 10pt 0 10pt 0;
  height: 35vh;
  width: auto;
  display: flexbox-block;
  justify-content: center;
  align-items: center;
}