.preview-card {
    display:block;
    max-width: 240px;
    height: auto;
    max-height: 300px;
    border-radius: 11pt;
    box-shadow: 10px 10px 15px black;
    margin-right: 20px;
    position: sticky;
    top: 10px;
}
  
.comparison-card {
  overflow: hidden;
  margin: 0 auto 0 auto;
  height: fit-content;
  width: fit-content;
  max-height: 350px;
  max-width: 475px;
  border-radius: 8pt;
  box-shadow: 10px 10px 15px black;
}

.container-mat{
  max-width: fit-content; 
  background: rgba(255, 255, 255, .4);
  margin: 0 auto 24px auto;
  padding: 10px;
  border-radius: 8px;
  display: flex;
}

.comparison-card-container {
  padding: 20px;
  max-height: 400px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 165px;
}