.preview-card {
    display:block;
    max-width: 240px;
    height: auto;
    max-height: 300px;
    border-radius: 11pt;
    box-shadow: 10px 10px 15px black;
    margin-right: 20px;
    position: sticky;
    top: 10px;
}

.container-mat{
  max-width: fit-content; 
  background: rgba(255, 255, 255, .4);
  margin: 0 auto 24px auto;
  padding: 10px;
  border-radius: 8px;
  display: flex;
}

@media (min-width: 320px) and (max-width: 999px) {

  // Mobile and tablet CSS

}

@media (min-width: 1000px) {

  // Laptop/desktop CSS

}