.file-handler-container {
    text-align: center;
    background-color: #444444;
    margin-top: 60px;
    padding-top: 5px;
    color: whitesmoke;
    height: 50px;
    width: 100vw;
    position:absolute;
}

.tool-tip {
    position: relative;
    display: inline-block;
}

.tool-tip .tool-tip-text {
    visibility: hidden;
    width: 150px;
    background-color: #212529;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: 25px;
    right: 20%;
}

.tool-tip:hover .tool-tip-text {
    visibility: visible;
    font-weight: 100;
}

.text-middle{
    vertical-align: middle;
}

.database-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;    
    background: rgba(256, 256, 256, .4);
    border: solid #212529 3px;
    border-radius: 5px;
    padding: 5pt 5pt 5pt 5pt;
}